* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.header {
    width: 100%;
    padding: 20px 0 20px 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.goBack {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 225px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.goBack i {
    font-size: 1.5rem;
}

.goBack:hover {
    color: #656363;
}

.lands {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 50px;
}

.hamburger {
    display: none;
    font-size: 1.6rem;
    color: #444;
    padding: 0 0 30px 30px;
}

@media(max-width: 1053px) {
    .filters {
        display: none;
        flex: 0 0 100%;
        margin-left: 0;
    }
    .hamburger {
        display: block;
    }
    .filters.active {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }
    .price {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media(max-width: 450px) {
    .custom input {
        max-width: 150px;
    }
    .location select, .landType select, .price select, input::placeholder {
        font-size: 0.7rem;
    }
}

.location select, .landType select, .price select {
    width: 200px;
    height: 40px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    border: 2px solid rgba(26, 25, 25, 0.2);
    border-radius: 40px;
    font-size: 0.9rem;
    color: black;
    padding: 10px 45px 10px 20px; 
    background-image: url("data:image/svg+xml,%3Csvg fill='%23575656' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center; 
    background-size: 16px;
}

.price {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.custom input {
    width: 200px;
    height: 40px;
    border: 2px solid rgba(26, 25, 25, 0.2);
    border-radius: 40px;
    padding: 0 50px 0 20px;
    font-size: 1rem;
}

.filter-btns button {
    flex: 1;
    height: 40px;
    border: none;
    border-radius: 45px;
    background-color: rgb(84, 84, 252);
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 0 10px 0 10px;
    transition: transform 0.2s ease-in;
}

#applyFilters:hover, #resetFilters:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.card {
    position: relative;
    width: 50%;
    overflow: hidden;
    border-radius: 0.75rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    justify-self: center;
    margin-bottom: 50px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.landImg {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cardContent {
    padding: 10px;
}

.card-heading {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.cardDetails {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.cardDetails p {
    font-size: 1rem;
    color: #444;
    font-weight: 500;
}

.cardbtns {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.view, .contact {
    flex: 1;
    height: 35px;
    border: none;
    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 0 10px 0 10px;
}

.view:hover, .contact:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.view {
    background: rgb(127, 127, 249);
    color: #fff;
    transition: 0.2s ease;
}

.view:hover {
    background: rgb(100, 100, 241);
}

.contact {
    background: #fff;
    color: rgb(141, 141, 249);
    transition: 0.2s ease;
}

.contact:hover {
    background: rgb(141, 141, 249);
    color: #fff;
}

.save-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    height: 35px;
    width: 40px;
    border: none;
    border-radius: 45px;
    background: rgba(255,255,255,0.8);
    cursor: pointer;
    font-size: 16px;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
}

.save-btn:hover {
    background-color: rgba(124, 180, 240, 0.8);
    color: #fff;
}

.save-btn.saved i {
    color: #007bff;
}

/* footer */
.footer {
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 30px 60px 30px 60px;
    margin-top: 30px;
}

.links {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

.f-list {
    display: flex;
    flex-direction: column;
}

.f-list a {
    transition: transform 0.1s ease-in, color 0.2s ease-in;
}

.f-list a:hover {
    color: #007bff;
    transform: translateX(3px);
}

.f-Title {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.48rem;
}

.f-list a {
    text-decoration: none;
    color: #444;
    cursor: pointer;
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
}

.feedback {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}

.feedbackP {
    width: 50%;
    font-size: 2rem;
}

.feedbackForm {
    width: 50%;
}

.inputbox {
    position: relative;
    width: 100%;
}

.inputbox input, .inputbox textarea {
    width: 100%;
    background: #fafafa;
    border: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #444;
    padding: 10px;
}

.inputbox input {
    margin-bottom: 20px;
}

.inputbox textarea {
    min-height: 120px;
    resize: none;         
    overflow-wrap: break-word;  
    white-space: pre-wrap; 
    margin-bottom: 16px;
}

.inputbox input:focus, .inputbox textarea:focus {
    outline: none;
    border: 1px solid rgb(100, 100, 241);
    box-shadow: 0 0 8px rgba(100, 100, 241, 0.2);
    transition: 0.2s ease-in-out;
}

.fbsubmit-btn {
    flex: 1;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 45px;
    background-color: rgb(84, 84, 252);
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 0 10px 0 10px;
    transition: 0.2s ease-in;
}

.fbsubmit-btn:hover {
    background: rgb(141, 141, 249);
    color: #444;
}

.tagAndSocials {
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

.tag {
    font-size: 2rem;
    width: 60%;
}

.tag i {
    color: rgb(100, 100, 241);
}

.followUs {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.icons {
    display: flex;
    gap: 5px;
}

.icons i {
    font-size: 2rem;
    color: #555;
    transition: color 0.2s ease-in-out;
}

.icons .insta:hover {
    color: #d62976;
}

.icons .x:hover {
    color: black;
}

.icons .linkedIn:hover {
    color: #0A66C2;
}

.copyright {
    margin-top: 30px;
    text-align: center;
}

@media (max-width: 1285px) {
    .filters {
        gap: 1.5rem;
    }
    .view, .contact {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .lands {
        flex-direction: column;
    }
    .filters, .listings {
        flex: 0 0 100%;
        margin-left: 0;
    }
    .card {
        width: 90%;
    }
    .links {
        flex-direction: column;
        gap: 20px;
    }
    .feedback {
        flex-direction: column;
        align-items: center;
    }
    .feedbackP, .feedbackForm {
        width: 100%;
    }
    .tagAndSocials {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .followUs {
        align-items: center;
    }
}

@media (max-width: 680px) {
  .listings {
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    width: 90%;
  }
  .lands h2 {
    font-size: 1.2rem;
  }
}